################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/CopilotSnapshots/2406E72E6823B042815F5EF0A364466A
/.vs/CopilotSnapshots/0AB37C02D332C542822469574C855098
